.ColorPicker {
  padding: 10px;
}

.ColorPicker__title {
  font-size: 28px;
}

.ColorPicker__option {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.ColorPicker__option--active {
  transform: scale(1.2);
}
